// font-size line-height绑定
@mixin font-size-small {
  font-family: $font-family-regular;
  font-size: $font-size-small;
  line-height: 16px;
}

@mixin font-size-regular {
  font-family: $font-family-regular;
  font-size: $font-size-regular;
  line-height: 20px;
}

@mixin font-size-header-6 {
  font-family: $font-family-regular;
  font-size: $font-size-header-6;
  line-height: 22px;
}

@mixin font-size-header-5 {
  font-family: $font-family-regular;
  font-size: $font-size-header-5;
  line-height: 24px;
}

@mixin font-size-header-4 {
  font-family: $font-family-regular;
  font-size: $font-size-header-4;
  line-height: 28px;
}

@mixin font-size-header-3 {
  font-family: $font-family-regular;
  font-size: $font-size-header-3;
  line-height: 32px;
}

@mixin font-size-header-2 {
  font-family: $font-family-regular;
  font-size: $font-size-header-2;
  line-height: 40px;
}

@mixin font-size-header-1 {
  font-family: $font-family-regular;
  font-size: $font-size-header-1;
  line-height: 44px;
}
