$prefix: 'snow';

/* Front */
$font-family-regular: 'Inter', -apple-system, blinkmacsystemfont, 'Segoe UI',
'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
helvetica, arial, sans-serif; // semi 预置字体回退
$font-size-small: 12px; // 小文本字号
$font-size-regular: 14px; // 常规文本字号

$font-size-header-6: 16px; // 六级标题字号
$font-size-header-5: 18px; // 五级标题字号
$font-size-header-4: 20px; // 四级标题字号
$font-size-header-3: 24px; // 三级标题字号
$font-size-header-2: 28px; // 二级标题字号
$font-size-header-1: 32px; // 一级标题字号

$font-weight-light: 200; // 字重 - 轻
$font-weight-regular: 400; // 字重 - 常规
$font-weight-bold: 600; // 字重 - 加粗
