node_modules
docs/node_modules
packages/**/node_modules

packages/foundation/lib
packages/components/lib
packages/components/dist
packages/webpack-plugin/lib
packages/vite-plugin/lib

docs/.dumi/temp
docs/dist

.idea

pnpm-lock.yaml

coverage
